<!-- game.component.html -->
<header class="flex items-center gap-28 mb-3 justify-start p-3">
  <div class="title flex gap-3 items-center justify-center">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPaC7cj4_qxIrYj2PlR9cHBBL6cKjUqONnw15V924QnT9DBOp84r8diWCZ-C3JTDGRNs0&usqp=CAU'"
      width="60px" height="60px" />
    <span id="header">LUCKY SHAKE GAME</span>
  </div>
</header>
<div id="playing-screen" class="hidden">
  <ul class="stats">
    <li class="stats__stat-container">
      <div class="stats__stat-label">Players</div>
      <div id="start-session-btn" class="stats__stat-value">{{ connectionCount }}</div>
    </li>
    <li class="stats__stat-container">
      <div class="stats__stat-label">Turns</div>
      <div id="start-session-btn" class="stats__stat-value">{{ turns }}</div>
    </li>
    <li class="stats__stat-container">
      <div class="stats__stat-label">Time</div>
      <div id="time" class="stats__stat-value">{{ timeRemainFormat }}</div>
    </li>
  </ul>
  <div id="shaking-container">
    <div class="surprises">
      <div class="hidden">10w</div>
      <div class="hidden">5毛</div>
      <div class="hidden">100</div>
      <div class="hidden">666</div>
      <div class="hidden">999</div>
      <div class="hidden">
        <i class="hearts"></i>
      </div>
      <div class="hidden">
        $
      </div>
      <div class="hidden">
        <i class="hearts"></i>
      </div>
    </div>
    <div class="bonus cursor-pointer" (click)="shakingBonus()">
    </div>
  </div>
  <p class="game-over-message text-center text-base hidden leading-relaxed mt-2">
    Congratulation ! You've achieved the item <span class="text-red-500">{{shakingItem ? shakingItem.name : ""}}</span>
  </p>
</div>
<div id="waiting-screen" class="flex flex-col items-center px-8 py-3">
  <div [innerHTML]="game ? game.instruction : ''"></div>
  <button id="start-game-btn" type="button">
    <div
      class="bg-[#000067] hover:bg-white font-semibold border-[#000067] border-4 hover:text-[#000067] hover:border-[#000067] rounded-lg px-8 text-gray-50 py-3 mt-5 mx-5"
      (click)="onClickStartBtn()">
      Start</div>
  </button>
</div>