<app-toast></app-toast>
<app-header title="Category"></app-header>
<div class="grid md:grid-cols-6 p-3 grid-cols-4 items-center">
  @for (item of items; track $index) {
  <app-category-item
    (click)="openModal(item.item.id)"
    [title]="item.item.name"
    [image]="item.item.icon"
    [quantity]="item.numberOfItem"
  ></app-category-item>
  }
</div>

<!-- First Modal -->
<app-modal
  [title]="modalTitleForm"
  [isOpen]="modalOpenForm"
  [content]="firstModalContent"
  [disable]="disable"
  (onCancel)="onClose()"
  (onConfirm)="onSubmit()"
  mainButton="Send Gift"
  sideButton="Delete"
  [img]="imgUrl"
>
  <div class="flex flex-col text-center items-center mb-2">
    <div class="inline-block mb-2 relative shrink-0 rounded-[.95rem]">
      <img
        class="inline-block shrink-0 rounded-[.95rem] w-[80px] h-[80px]"
        [src]="imgUrl ? imgUrl : ''"
        alt="avarat image"
      />
    </div>
  </div>
  <!-- <app-category-item [title]="itemSelf.name"
      [image]="itemSelf.icon"></app-category-item> -->
</app-modal>

<!-- Second Modal -->
<app-modal
  [title]="secondModalTitleForm"
  [isOpen]="secondModalOpenForm"
  [disable]="disableSend"
  (onCancel)="onCloseSecondModal()"
  (onConfirm)="onSecondModalSubmit()"
  mainButton="Send gift"
  sideButton="Cancel"
  [img]="imgUrl"
>
  <app-input
    label="Receiver's Email"
    type="text"
    [(ngModel)]="receiverEmail"
    (ngModelChange)="onReceiverIdChange($event)"
  ></app-input>
</app-modal>
