<app-header title="Category"></app-header>
<div class="grid md:grid-cols-6 p-3 grid-cols-4 items-center">
  @for (item of items; track $index) {
  <app-category-item
    (click)="openModal()"
    [title]="item.item.name"
    [image]="item.item.icon"
    [quantity]="item.numberOfItem"
  ></app-category-item>
  }
</div>

<!-- First Modal -->
<app-modal
  [title]="modalTitleForm"
  [isOpen]="modalOpenForm"
  [content]="firstModalContent"
  (onCancel)="onClose()"
  (onConfirm)="onSubmit()"
  mainButton="Send Gift"
  sideButton="Delete"
  [img]="imgUrl"
>
</app-modal>

<!-- Second Modal -->
<app-modal
  [title]="secondModalTitleForm"
  [isOpen]="secondModalOpenForm"
  (onCancel)="onCloseSecondModal()"
  (onConfirm)="onSecondModalSubmit()"
  mainButton="Send gift"
  sideButton="Cancel"
  [img]="imgUrl"
>
  <app-input label="Receiver's phone number" type="text"></app-input>
</app-modal>
