<app-header title="Event: AAA"></app-header>
<div class="grid md:grid-cols-6 p-3 grid-cols-4 items-center">
    <app-game-item routerLink="game" title="Game abc" image="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"></app-game-item>
    <app-game-item title="Game abd" image="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"></app-game-item>
    <app-game-item title="Game abc" image="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"></app-game-item>
    <app-game-item title="Game abd" image="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"></app-game-item>
    <app-game-item title="Game abc" image="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"></app-game-item>
    <app-game-item title="Game abd" image="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"></app-game-item>
</div>
